@model VetClinicManager.Areas.Admin.DTOs.Medications.MedicationEditDto

@{
    ViewData["Title"] = "Edit Medication/Material";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]: @Model.Name</h1>

    <hr />
    
    <div class="row">
        <div class="col-md-6">
            <form asp-area="Admin" asp-controller="Medications" asp-action="Edit" method="post">
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ErrorCount > 0)
                {
                    <div asp-validation-summary="All" class="alert alert-danger"></div>
                }
                
                <input type="hidden" asp-for="Id" />

                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mt-4 d-flex">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <a asp-area="Admin" asp-controller="Medications" asp-action="Index" class="btn btn-outline-secondary ms-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}