<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
    <!-- File - all logs -->
    <target xsi:type="File"
            name="fileAll"
            fileName="${currentdir}/logs/app-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ID: ${aspnet-traceidentifier} | ${logger:shortName=true} | ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />

    <!-- File - errors -->
    <target xsi:type="File"
            name="fileErrors"
            fileName="${currentdir}/logs/errors-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ID: ${aspnet-traceidentifier} | User: ${aspnet-user-identity} | URL: ${aspnet-request-url} | Action: ${aspnet-mvc-action} | ${logger:shortName=true} | ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />

    <!-- Console -->
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} | ${level:uppercase=true:padding=-5} | ID: ${aspnet-traceidentifier} | ${logger:shortName=true} | ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Warn" final="false" />
    <logger name="System.*" maxlevel="Warn" final="false" />

    <logger name="*" minlevel="Info" writeTo="fileAll,console" />

    <logger name="*" minlevel="Error" writeTo="fileErrors" />
  </rules>
</nlog>